body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1056b3;
    color: #fff;
    text-align: center;
    padding: 10px;
}

form {
    max-width: 600px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 10px;
}

.cuadro {
    border: 2px solid #1056b3;
    padding: 1px;
    margin-bottom: 5px;
    position: relative;
    display: inline-block; 
    width: auto; 
}

.cuadro label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #25a2d3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.things-table {
    border-collapse: collapse;
    width: 50%; 
    margin: 10px auto; 
}

.things-table th, .things-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

.things-table td {
    font-size: 14px; 
}

.search-form {
    margin: 10px auto; 
}

.search-form input[type="search"],
.search-form button {
    margin: 5px;
    padding: 8px;
}

.action-buttons {
    margin: 8px auto; 
}

.action-buttons button {
    margin-right: 10px;
    padding: 10px;
}

.edit-btn, .add-btn, .edit-tags-btn, .reset-btn, .back-btn {
    background-color: #25a2d3;
    color: #fff;
    border: none;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

.edit-btn:hover, .add-btn:hover, .edit-tags-btn:hover, .reset-btn:hover, .back-btn:hover {
    background-color: #25a2d3;
}
